* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

body {
  color: white;
  font-size: 26px;
  line-height: 1.4;
  color: black;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
  background: white;
}

header {
	background-image: url("iMAGES/maxresdefault.jpg");
  height: 300px;
  width: 100%;
}
 h1 {
 	padding: 70px; 
 	color: black;
 }

 a:visited, a:link, a:active
{
  text-decoration: none;
  color: black;
}

/***************1940s************/

#one {
  margin-top: 20px;
  height: 300px;
  width: 100%;
 }

 .one{
  height: 300px;
  width: 100%;
 }

 .p1940{
  margin: 30px;
  height: 200px;
  width: 420px;
  float: left;
  font-size: 15px;
  text-align: left;
  position: top;
 }

.year1940{
  color: black;
}

.room40 img{
  float: right;
  width: 350px;
  height: auto;
  position: static;
  z-index: 1;
}

.line40{
  border-bottom: solid 3px black;
  width: 100%;
  z-index: -1;
  position: static;
  padding-top: 140px;
}

.year1940{
  float: left;
  font-size: 70px;
  position: absolute;
  padding: 10px;
}

.advert40{
  float: right;
  padding: 15px;
}

.advert1 img{
  float: right;
  width: 100px;
  height: auto;
  position: static;
  z-index: 1;
  padding-right: 5px;
  padding-top: 5px;
}

.advert2 img{
  float: right;
  width: 100px;
  height: auto;
  position: static;
  z-index: 1;
  padding-right: 5px;
  padding-top: 5px;
}

.advert3 img{
  float: right;
  width: 100px;
  height: auto;
  position: static;
  z-index: 1;
  padding-right: 5px;
  padding-top: 5px;
}

/***************1950s************/

#two {
  margin-top: 40px;
  height: 400px;
  width: 100%;
 }

 .two{
  height: 400px;
  width: 100%;
 }

 .p1950{
  margin: 30px;
  height: 200px;
  width: 420px;
  float: right;
  font-size: 15px;
  text-align: right;
  padding-top: 50px;
 }

.year1950{
  color: black;
  float: right;
}

.room50 img{
  float: left;
  width: 350px;
  height: auto;
  position: static;
  z-index: 1;
}

.line50{
  border-bottom: solid 3px black;
  width: 100%;
  z-index: -1;
  position: static;
  padding-top: 200px;
}

.year1950{
  float: right;
  font-size: 70px;
  position: absolute;
}

.advert50{
  float: right;
  padding: 15px;
}

.advert4 img{
  float: right;
  width: 100px;
  height: auto;
  position: static;
  z-index: 1;
  padding-top: 5px;
}

.advert5 img{
  float: right;
  width: 100px;
  height: auto;
  position: static;
  z-index: 1;
  padding-right: 5px;
  padding-top: 5px;
}

.advert6 img{
  float: right;
  width: 100px;
  height: auto;
  position: static;
  z-index: 1;
  padding-right: 5px;
  padding-top: 5px;
}

/***************1960s************/

#three {
  margin-top: 40px;
  height: 400px;
  width: 100%;
 }

 .three{
  height: 400px;
  width: 100%;
 }

 .p1960{
  margin: 30px;
  height: 200px;
  width: 420px;
  float: left;
  font-size: 15px;
  text-align: left;
 }

.year1960{
  color: black;
}

.room60 img{
  float: left;
  width: 350px;
  height: auto;
  position: static;
  z-index: 1;
}

.line60{
  border-bottom: solid 3px black;
  width: 100%;
  z-index: -1;
  position: static;
  padding-top: 150px;
}

.year1960{
  float: right;
  font-size: 70px;
  position: absolute;
  padding: 10px;
}

.advert60{
  float: right;
  padding: 12px;
}

.advert7 img{
  float: right;
  width: 100px;
  height: auto;
  position: top;
  z-index: 1;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.advert8 img{
  float: right;
  width: 100px;
  height: auto;
  position: top;
  z-index: 1;
  padding-right: 5px;
  padding-top: 5px;
   padding-bottom: 5px;
}

.advert9 img{
  float: right;
  width: 100px;
  height: auto;
  position: top;
  z-index: 1;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 15px;
}

/***************1970s************/

#four {
  margin-top: 20px;
  height: 400px;
  width: 100%;
 }

 .four{
  height: 400px;
  width: 100%;
 }

 .p1970{
  margin: 30px;
  height: 200px;
  width: 420px;
  float: left;
  font-size: 15px;
  text-align: left;
  position: top;
 }

.year1970{
  color: black;
}

.room70 img{
  float: right;
  width: 350px;
  height: auto;
  position: static;
  z-index: 1;
}

.line70{
  border-bottom: solid 3px black;
  width: 100%;
  z-index: -1;
  position: static;
  padding-top: 140px;
}

.year1970{
  float: left;
  font-size: 70px;
  position: absolute;
  padding: 10px;
}

.advert70{
  float: right;
  padding: 15px;
}

.advert10 img{
  float: right;
  width: 100px;
  height: auto;
  position: static;
  z-index: 1;
  padding-right: 5px;
  padding-top: 5px;
}

.advert11 img{
  float: right;
  width: 100px;
  height: auto;
  position: static;
  z-index: 1;
  padding-right: 5px;
  padding-top: 5px;
}

.advert12 img{
  float: right;
  width: 100px;
  height: auto;
  position: static;
  z-index: 1;
  padding-right: 5px;
  padding-top: 5px;
}

/***************1980s************/

#five {
  margin-top: 20px;
  height: 400px;
  width: 100%;
 }

 .five{
  height: 400px;
  width: 100%;
 }

 .p1980{
  margin: 30px;
  height: 200px;
  width: 420px;
  float: right;
  font-size: 15px;
  text-align: right;
  position: top;
 }

.year1980{
  color: black;
}

.room80 img{
  float: left;
  width: 350px;
  height: auto;
  position: static;
  z-index: 1;
}

.line80{
  border-bottom: solid 3px black;
  width: 100%;
  z-index: -1;
  position: static;
  padding-top: 140px;
}

.year1980{
  float: left;
  font-size: 70px;
  padding-left: 30px;
}

.advert80{
  float: left;
}

.advert13 img{
  float: right;
  width: auto;
  height: 127px;
  z-index: 1;
  padding-left: 5px;
  padding-right: 25px;
}

.advert14 img{
  float: right;
  width: 100px;
  height: auto;
  z-index: 1;
  padding-left: 5px;
  padding-right: 1px;
}

.advert15 img{
  float: right;
  width: 100px;
  height: auto;
  z-index: 1;
  padding-left: 5px;
  padding-right: 1px;
}

.advert16 img{
  float: right;
  width: 100px;
  height: auto;
  z-index: 1;
  padding-left: 5px;
  padding-right: 1px;
}

.advert17 img{
  float: right;
  width: 100px;
  height: auto;
  z-index: 1;
  padding-left: 5px;
  padding-right: 1px;
}

/***************1990s************/

#six {
  margin-top: 20px;
  height: 400px;
  width: 100%;
 }

 .six{
  height: 400px;
  width: 100%;
 }

 .p1990{
  margin: 30px;
  height: 200px;
  width: 420px;
  float: left;
  font-size: 15px;
  text-align: left;
  position: top;
 }

.year1990{
  color: black;
}

.room90 img{
  float: right;
  width: auto;
  height: 250px;
  position: static;
  z-index: 1;
}

.line90{
  border-bottom: solid 3px black;
  width: 100%;
  z-index: -1;
  position: static;
  padding-top: 140px;
}

.year1990{
  float: left;
  font-size: 70px;
  position: absolute;
  padding: 10px;
}

.advert90{
  float: right;
  padding: 15px;
}

.advert18 img{
  float: right;
  width: 70px;
  height: auto;
  position: static;
  z-index: 1;
  padding-right: 5px;
}

.advert19 img{
  float: right;
  width: 100px;
  height: auto;
  position: static;
  z-index: 1;
  padding-right: 5px;
}

.advert20 img{
  float: right;
  width: 100px;
  height: auto;
  position: static;
  z-index: 1;
  padding-right: 5px;
}

/***************2000s************/

#seven {
  margin-top: 20px;
  height: 400px;
  width: 100%;
 }

 .seven{
  height: 400px;
  width: 100%;
 }

 .p2000{
  margin: 30px;
  height: 200px;
  width: 420px;
  float: left;
  font-size: 15px;
  text-align: left;
  position: top;
 }

.year2000{
  color: black;
}

.room00 img{
  float: right;
  width: 350px;
  height: auto;
  position: static;
  z-index: 1;
}

.line00{
  border-bottom: solid 3px black;
  width: 100%;
  z-index: -1;
  position: static;
  padding-top: 140px;
}

.year2000{
  float: left;
  font-size: 70px;
  position: absolute;
  padding: 10px;
}

.advert00{
  float: right;
  padding: 15px;
}

.advert21 img{
  float: right;
  width: 100px;
  height: auto;
  position: static;
  z-index: 1;
  padding-right: 5px;
}

.advert22 img{
  float: right;
  width: 100px;
  height: auto;
  position: static;
  z-index: 1;
  padding-right: 5px;
}

.advert23 img{
  float: right;
  width: 100px;
  height: auto;
  position: static;
  z-index: 1;
  padding-right: 5px;
}

footer {
  background: black;
  padding: 65px 0 45px;
  text-align: center;
}


/******************TIMELINE*********************/

header {
  background-image: url("iMAGES/maxresdefault.jpg");
  height: 300px;
  width: 100%;
}
 h1 {
  padding: 70px; 
  color: black;
 }

#timeline40{
  width: 100%;
  display: inline-block;
}
 .block401{
  height: 300px;
  width: 200px;
  margin: 20px;
  padding: 10px;
  float: right;
  background-color: black;
  z-index: 1;
 }

  .block402{
  height: 300px;
  width: 200px;
  margin: 20px;
  padding: 10px;
  float: right;
  background-color: black;
  z-index: 1;
 }

  .block403{
  height: 300px;
  width: 200px;
  margin: 20px;
  padding: 10px;
  float: right;
  background-color: black;
  z-index: 1;
 }

  .block404{
  height: 300px;
  width: 200px;
  margin: 20px;
  padding: 10px;
  float: right;
  background-color: black;
  z-index: 1;
 }

  .line04{
  border-bottom: solid 3px black;
  width: 25%;
  z-index: -1;
  position: static;
  padding-top: 80px;
  padding-bottom: 100px;
}

 .block501{
  height: 300px;
  width: 200px;
  margin: 20px;
  padding: 10px;
  float: right;
  background-color: black;
  z-index: 1;
 }

  .block502{
  height: 300px;
  width: 200px;
  margin: 20px;
  padding: 10px;
  float: right;
  background-color: black;
  z-index: 1;
 }

  .block503{
  height: 300px;
  width: 200px;
  margin: 20px;
  padding: 10px;
  float: right;
  background-color: black;
  z-index: 1;
 }

  .block504{
  height: 300px;
  width: 200px;
  margin: 20px;
  padding: 10px;
  float: right;
  background-color: black;
  z-index: 1;
 }

  .line05{
  border-bottom: solid 3px black;
  width: 25%;
  z-index: -1;
  position: static;
  padding-top: 220px;
  padding-bottom: 100px;
}

 .block601{
  height: 300px;
  width: 200px;
  margin: 20px;
  padding: 10px;
  float: right;
  background-color: black;
  z-index: 1;
 }

  .block602{
  height: 300px;
  width: 200px;
  margin: 20px;
  padding: 10px;
  float: right;
  background-color: black;
  z-index: 1;
 }

  .block603{
  height: 300px;
  width: 200px;
  margin: 20px;
  padding: 10px;
  float: right;
  background-color: black;
  z-index: 1;
 }

  .block604{
  height: 300px;
  width: 200px;
  margin: 20px;
  padding: 10px;
  float: right;
  background-color: black;
  z-index: 1;
 }

  .line06{
  border-bottom: solid 3px black;
  width: 25%;
  z-index: -1;
  position: static;
  padding-top: 250px;
  padding-bottom: 100px;
}

  .block701{
  height: 300px;
  width: 200px;
  margin: 20px;
  padding: 10px;
  float: right;
  background-color: black;
  z-index: 1;
 }

  .block702{
  height: 300px;
  width: 200px;
  margin: 20px;
  padding: 10px;
  float: right;
  background-color: black;
  z-index: 1;
 }

  .block703{
  height: 300px;
  width: 200px;
  margin: 20px;
  padding: 10px;
  float: right;
  background-color: black;
  z-index: 1;
 }

  .block704{
  height: 300px;
  width: 200px;
  margin: 20px;
  padding: 10px;
  float: right;
  background-color: black;
  z-index: 1;
 }

  .line07{
  border-bottom: solid 3px black;
  width: 25%;
  z-index: -1;
  position: static;
  padding-top: 220px;
  padding-bottom: 100px;
}

  .block801{
  height: 300px;
  width: 200px;
  margin: 20px;
  padding: 10px;
  float: right;
  background-color: black;
  z-index: 1;
 }

  .block802{
  height: 300px;
  width: 200px;
  margin: 20px;
  padding: 10px;
  float: right;
  background-color: black;
  z-index: 1;
 }

  .block803{
  height: 300px;
  width: 200px;
  margin: 20px;
  padding: 10px;
  float: right;
  background-color: black;
  z-index: 1;
 }

  .block804{
  height: 300px;
  width: 200px;
  margin: 20px;
  padding: 10px;
  float: right;
  background-color: black;
  z-index: 1;
 }

  .line08{
  border-bottom: solid 3px black;
  width: 25%;
  z-index: -1;
  position: static;
  padding-top: 250px;
  padding-bottom: 100px;
}

  .block901{
  height: 300px;
  width: 200px;
  margin: 20px;
  padding: 10px;
  float: right;
  background-color: black;
  z-index: 1;
 }

  .block902{
  height: 300px;
  width: 200px;
  margin: 20px;
  padding: 10px;
  float: right;
  background-color: black;
  z-index: 1;
 }

  .block903{
  height: 300px;
  width: 200px;
  margin: 20px;
  padding: 10px;
  float: right;
  background-color: black;
  z-index: 1;
 }

  .block904{
  height: 300px;
  width: 200px;
  margin: 20px;
  padding: 10px;
  float: right;
  background-color: black;
  z-index: 1;
 }

  .line09{
  border-bottom: solid 3px black;
  width: 25%;
  z-index: -1;
  position: static;
  padding-top: 230px;
  padding-bottom: 100px;
}

  .block001{
  height: 300px;
  width: 200px;
  margin: 20px;
  padding: 10px;
  float: right;
  background-color: black;
  z-index: 1;
 }

  .block002{
  height: 300px;
  width: 200px;
  margin: 20px;
  padding: 10px;
  float: right;
  background-color: black;
  z-index: 1;
 }

  .block003{
  height: 300px;
  width: 200px;
  margin: 20px;
  padding: 10px;
  float: right;
  background-color: black;
  z-index: 1;
 }

  .block004{
  height: 300px;
  width: 200px;
  margin: 20px;
  padding: 10px;
  float: right;
  background-color: black;
  z-index: 1;
 }

 .line02{
  border-bottom: solid 3px black;
  width: 25%;
  z-index: -1;
  position: static;
  padding-top: 240px;
  padding-bottom: 100px;
}

.year40{
  float: left;
  font-size: 60px;
}

.year50{
  float: left;
  font-size: 60px;
}

.year60{
  float: left;
  font-size: 60px;
}

.year70{
  float: left;
  font-size: 60px;
}

.year80{
  float: left;
  font-size: 60px;
}

.year90{
  float: left;
  font-size: 60px;
}

.year00{
  float: left;
  font-size: 60px;
}


/*******************WELCOME*******************/

